.ui.three.column.grid
  .column
    .ui.raised.segment
      .center.aligned
        .ui.basic.button.order-state На сборку
        .ui.basic.button.order-state Требуется закупка
        .ui.basic.button.order-state Заказ собран
        .ui.basic.button.order-state Требуется связаться с клиентом
        .ui.button.allOrdersSelect Выделить все
        .ui.tag.label Выделено {{selectedCount}}
  .column
    .ui.raised.segment
      #send-to-aplix.ui.red.button. Отправить выбранные в Апликс
  .column
    .ui.raised.segment
      #supplierSelector.ui.search.selection.dropdown
        input(type="hidden", name="country")
        i.dropdown.icon
        input.search(type="text", tabindex="0")
        .default.text Выберите поставщика
        .menu(tabindex="-1")
          each suppliers
            .item(data-value="{{uuid}}") {{name}}
table.ui.compact.celled.definition.table
  thead
    tr
      th
      th Номер
      th Способ доставки
      th Адрес доставки
      th Дата создания
      th Сумма
      th Статус
      th Статус Апликс
      th Трек Апликс
  tbody
    each this
      tr
        td.collapsing
          div(class="{{#if checked}}checked{{/if}} ui fitted toggle checkbox div orderSelect")
            input(type="checkbox", checked="{{checked}}")
            label
        td.collapsing {{name}}
        td {{orderDeliveryWay}}
        td {{customerAddress}}
        td.collapsing {{prettifyDate created}}
        td.collapsing {{orderHelper.sum}}
        td.collapsing {{orderHelper.state}}
          #packOrder.ui.teal.button Собрать
        td {{orderHelper.aplixState}}
        td 
          a(href="http://www.aplix.ru/tools/tracking/?track={{orderHelper.aplixTrack}}",target="_blank").
            {{orderHelper.aplixTrack}}
