<template name="ordersList">
  <div class="ui two column grid">
    <div class = "column">
      <div class="ui raised segment">
        <div class="center aligned">
          <div class="ui basic button order-state">На сборку</div>
          <div class="ui basic button order-state">Требуется закупка</div>
          <div class="ui button allOrdersSelect">Выделить все</div>
        </div>
      </div>
    </div>
    <div class = "column">
      <div class="ui raised segment">
        <div class="ui search selection dropdown" id="supplierSelector">
          <input type="hidden" name="country">
          <i class="dropdown icon"></i>
          <input class="search" tabindex="0"><div class="default text">Выберите поставщика</div>
          <div class="menu" tabindex="-1">
            {{#each suppliers}}
            <div data-value="{{uuid}}" class="item">{{name}}</div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center aligned">
    {{#if isActive}}
    <div class="ui horizontal divider">Пожалуйста подождите, заказы обновляются</div>
    {{#with progress}}
    <div class="ui indicating progress active">
      <div class="bar" style="-webkit-transition-duration: 300ms; transition-duration: 300ms; width: {{dataPercent}}%;"></div>
      <div class="label">{{#if isActive}}{{countAlready}} из {{countTotal}}{{/if}}</div>
    </div>
    {{/with}}
    {{/if}}
  </div>
  <table class="ui compact celled definition table">
    <thead>
      <tr>
        <th><td class="collapsing">

        </td></th>
        <th>Номер</th>
        <th>Номер на сайте</th>
        <th>Дата создания</th>
        <th>Сумма</th>
        <th>Статус</th>
      </tr>
    </thead>
    <tbody>
      {{#each ordersListHelper}}
      <tr>
        <td class="collapsing">
          <div class="ui fitted toggle checkbox {{#if checked}}checked{{/if}} orderSelect">
            <input type="checkbox" checked="{{checked}}"> <label></label>
          </div>
        </td>
        <td>{{name}}</td>
        <td>{{code}}</td>
        <td>{{prettifyDate created}}</td>
        <td>{{orderHelper.sum}}</td>
        <td>{{orderHelper.state}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>
