.ui.menu
  if currentUser
    a.item(href="{{pathFor 'ordersList'}}")
      | Заказы на сборку
    a.item(href="{{pathFor 'managers'}}")
      | Задачи для менеджеров
    a.item(href="{{pathFor 'loadData'}}")
      | Загрузить данные
    a.item(href="{{pathFor 'viewlog'}}")
      | Лог
    a.item(href="{{pathFor 'systemlog'}}")
      | Системный лог
    a.item(href="{{pathFor 'statushistory'}}")
      | История изменения статусов
    a.item(href="{{pathFor 'workflows'}}")
      | Статусы
    a.item(href="{{pathFor 'buyinglist'}}")
      | Список на закупку
    a.item(href="{{pathFor 'goods'}}")
      | Товары
  a.item(href="{{pathFor 'login'}}")
    | Аккаунт
