.center.aligned
  #drop_reserve.ui.primary.button Сбросить резерв
  #make_buying_request.ui.primary.button Сделать закупку
  #load_pics.ui.primary.button Загрузить картинки с сайта
  #load_aplix_tracks.ui.primary.button Загрузить трек-номера из Апликса
  #load_aplix_billing.ui.primary.button Загрузить биллинг из Апликса
  #load_stock.ui.primary.button Загрузить остатки
  #send_stock_to_magento.ui.primary.button Передать остатки
  #close_orders_in_ms.ui.primary.button Закрыть завершенные заказы в МС
  if isActive
    .ui.horizontal.divider Прогресс
    with progress
      .ui.indicating.progress.active
        .bar(style="-webkit-transition-duration: 300ms; transition-duration: 300ms; width: {{dataPercent}}%;")
        .label {{#if isActive}}{{countAlready}} из {{countTotal}}{{/if}}
