.center.aligned
  #drop_reserve.ui.primary.button Сбросить резерв
  #make_buying_request.ui.primary.button Сделать закупку
  #load_pics.ui.primary.button Загрузить картинки с сайта
  #calculate_kpis.ui.primary.button Подсчитать показатели
  #setAutosalePrices.ui.primary.button Установить цены автораспродажи

  if isActive
    .ui.horizontal.divider Прогресс
    with progress
      .ui.indicating.progress.active
        .bar(style="-webkit-transition-duration: 300ms; transition-duration: 300ms; width: {{dataPercent}}%;")
        .label {{#if isActive}}{{countAlready}} из {{countTotal}}{{/if}}
