<template name="loadData">
  <div class="center aligned">
    <div class="ui primary button" id="load_pics">
      Загрузить картинки с сайта
    </div>
    <div class="ui primary button" id="load_aplix_tracks">
      Загрузить трек-номера из Апликса
    </div>
    {{#if isActive}}
    <div class="ui horizontal divider">Прогресс</div>
    {{#with progress}}
    <div class="ui indicating progress active">
      <div class="bar" style="-webkit-transition-duration: 300ms; transition-duration: 300ms; width: {{dataPercent}}%;"></div>
      <div class="label">{{#if isActive}}{{countAlready}} из {{countTotal}}{{/if}}</div>
    </div>
    {{/with}}
    {{/if}}
  </div>
</template>
