table(class="ui celled table")
  thead
    tr
      th Заказ
      th Товар
  tbody
    each customerOrders
      tr
        td {{name}}
        td
      each customerOrderPositionModified
        tr
          td
          td #{name}          
